.menuBar {
  width: 100%;
  padding: 0.5rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(10px); 
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.3);
  /* border-bottom: 4px solid #333; */
}

.menuList {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  justify-content: center; /* move this here from below */
}

.menuItem {
  font-size: 1.5rem;
  font-weight: 300;
}

.menuLink {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.2s;
  padding: 0.0rem 0.5rem; /* <- wider clickable area */
  display: inline-block;  /* ensure padding applies */
}

.menuLink:hover {
  color: #818181;
}
